@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300i,400i");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

html {
    font-size: 18pt;
    font-size: 1vmax;
}


body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: rgba(82, 87, 106, 1);
    border-bottom: none;
    text-decoration: none;
    color: rgba(82, 87, 106, 0.8);
}

    a:hover {
  color: hotPink;
}
@media (-webkit-min-device-pixel-ratio:0) {
  a {
    background-color: rgba(82, 87, 106, 1);
    background-image: -webkit-linear-gradient(left, #f15245 0%, #d92e7f 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .4s .2s;
    -webkit-background-clip: text;
  }
  a:hover {
    background-position: 0 0;
    color: transparent;
    transition: 0.2s 0;
  }
}
}

strong, b {
    color: rgba(82, 87, 106, 1);
    font-weight: 400;
}

em, i {
    font-style: italic;
}

p {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12px;
    color: rgba(82, 87, 106, 0.8);
    margin: 0 0 1.5rem 0;
}

body.is-ie p {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(82, 87, 106, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 0.75rem 0;
    letter-spacing: -0.05em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}


h1 {
    font-size: 42px;
}

sub {
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
}

sup {
    font-size: 0.8rem;
    position: relative;
    top: -0.5rem;
}

code {
    background: rgba(255, 255, 255, 0.075);
    border-radius: 0.25rem;
    font-family: "Courier New", monospace;
    font-size: 0.8rem;
    margin: 0 0.25rem;
    padding: 0.25rem 0.65rem;
}

hr {
    border: 0;
    border-bottom: solid 2px rgba(82, 87, 106, 0.2);
    margin: 20px;
}

ul.icons {
    padding-top: 10px;
    cursor: default;
    list-style: none;
    padding-left: 0;
    font-size: 15px;
}

ul.icons li {
    display: inline-block;
    padding: 0 20px 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}


.contentPanel{
    padding-top: 25px;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 550px;
    left: 50%;
    margin-left: -200px;
    background-color: white;
    border-radius: 0 0 5px 5px; 
    opacity: 0.9;
    text-align: center;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.imagePanel{
    content: url(/images/bakkes400px.jpg);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    background-color: white;
    border-radius: 5px 5px 0 0; 
    opacity: 0.9;
    text-align: center;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#particles-js
{
    height: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: lightgray;
    background-repeat: no-repeat;
    background: -webkit-radial-gradient(circle at -50% 30%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: -moz-radial-gradient(circle at -50% 30%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: -ms-radial-gradient(circle at -50% 30%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: -o-radial-gradient(circle at -50% 30%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: radial-gradient(circle at -50% 30%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}
